 p {
        font-family: roboto;
        margin-top:0px;
        margin-bottom:0px;
      }
     .video-title{
       font-weight:bold;
       font-size: 18px;
       width: 280px;
       line-height: 24px;
       margin-bottom: 5px;
    }
    .video-stats {
      font-size: 14px;
      color:#606060;
    }
    .video-author{
      font-size: 14px;
      color:#606060;
      margin-top: 20px;
    }
    .video-description{
      font-size: 14px;
      color:#606060;
      width: 280px;
      line-height: 22px;
      margin-top:20px;
      margin-bottom:100px;
    }
    .apple-text {
      margin-bottom:50px;
      font-size:14px;
      background-color: rgb(227, 65, 64);
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 16px;
      padding-bottom: 16px;
      text-align: center;
      margin-left: 8px;
      margin-right:8px;
      color:white;
      Font-weight: 400px;
      line-height: 21px;
      box-sizing: border-box;
      margin-bottom: 100px;
    }
    .span-shop{
      cursor: pointer;
    }
    .span-shop:hover {
    text-decoration: underline;
    }
    
    .shop-apple {
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    line-height: 25px;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    }
    .apple-work {
      text-align: center;
      font-size:14px;
      font-weight:525;
     
    }
    .apple-link {
      color:rgb(5, 93, 165);
      text-align: center;
      margin-top:13px;
      font-size: 14px;
    cursor:pointer;
    }
    .apple-link:hover {
      text-decoration: underline;
    }